{% extends 'base.html' %}
{% block title %}
<title>Simple web scrapper</title>

{% endblock %}

{% block body %}
<section class="container-fluid">
<form class="form-group py-5 text-center" method="POST">
	<div class="bg-info text-white mx-2 my-5">Note: Enter the url without http or https</div>
	<input class="my-5" type="text" name="url" placeholder="input url"></input><br>
	<input class="my-5" type="text" name="loop" placeholder="input visit count"></input><br>
	<button type="btn btn-secondary" name="start">Start</button>
	
</form>
</section>
{% endblock %}